/.idea/copilot.data.migration.agent.xml
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/swift-toolchain.xml
/.idea/vcs.xml
/.idea/workspace.xml
